<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.longbow.mybatis.myppers.CarMapper">



    <select id="SelectById" resultType="car">
        select * from t_car where id = #{id}
    </select>

    <insert id="Insert">
        insert into t_car
            (car_num, brand, guide_price, produce_time, car_type)
            values (#{carNum}, #{brand}, #{guidePrice}, #{produceTime}, #{carType})
    </insert>

    <delete id="DeleteById">
        delete from t_car where id=#{id};
    </delete>

    <update id="updateByBrand">
        update t_car set car_num = #{carNum},
                         brand = #{brand},
                         guide_price = #{guidePrice},
                         produce_time = #{produceTime},
                         car_type = #{carType}
        where brand = #{brand}
    </update>

</mapper>